@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply text-white;
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgb(59, 237, 142);
    background: linear-gradient(
      180deg,
      rgba(59, 237, 142, 1) 0%,
      rgba(0, 60, 150, 1) 100%
    );
  }

  scroll-behavior: smooth;
}

section {
  @apply min-h-screen px-container pt-14;
}

.section_title {
  @apply text-primary text-center text-3xl font-bold underline underline-offset-4;

  & > span {
    @apply text-secondary underline underline-offset-4;
  }
}
