@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

section {
  @apply min-h-screen px-container pt-14;
}

.section_title {
  @apply text-primary underline underline-offset-4;

  & > span {
    @apply text-secondery;
  }
}
