@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar > li > a:after {
  display: block;
  content: '';
  padding-top: 0.2rem;
  border-bottom: solid 3px greenyellow;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar > li > a:hover:after {
  transform: scaleX(1);
}

.navbar {
  border-bottom: 1px solid #bbbbbb;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: '';
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
