@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar > li > a::after {
  /* display: block; */
  display: flex;
  content: '';
  padding-top: 0.2rem;
  border-bottom: solid 4px greenyellow;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
#navbar > li > a:hover::after {
  transform: scaleX(1);
}
